# Packages
node_modules/
yarn.lock

# Log files
logs/
*.log

# Authentication
deploy/

# Miscellaneous
.tmp/
.vscode/
docs/
.github/

# ts
babel.config.js
build.js
build.bash
src/

# Eslint
.eslintrc.json
.eslintignore

# git
.gitignore
.github

# Docs
docs/
scripts/