name: PR Automation

on:
  pull_request_target:

jobs:
  automation:
    runs-on: ubuntu-latest
    steps:
      - name: Automatically label PR
        uses: release-drafter/release-drafter@v5
        with:
          disable-releaser: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Assign reviewers
        if: ${{ github.event.action == 'opened' }}
        uses: kentaro-m/auto-assign-action@v1.2.1
